#idx1{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(55, 72, 223);
    background-color: rgb(255, 255, 255);
    
}
#oi{
    text-align: center;
    
}
#fale{
    background-color: rgb(55, 72, 223);
    color: rgb(255, 255, 255);
    border-radius: 50px;
    width: 150px;
    height:25px ;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}
#robo{
    display: flex;
    border: 30px;
    height: 90%;
    width: 80%;
    
}
.direita{
    background-color: rgb(192, 218, 253);
    text-align: start;
    margin: 10px;
    height: 510px;
    width: 1700px;
    border-radius: 15px;
}

.falas{
    background-color: rgb(55, 72, 223);
    color: rgb(255, 255, 255);
    line-height: 1.5em;
    border-radius: 50px;
    text-align: center;
    margin-left: 200px;
    height: 10%;
    width: 100%;
    margin-top: 20px;

}
#botoes1{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#s1{
    display: flex;

}
#s2{ 
    background-color: rgb(192, 218, 253);
    margin: 10px;
    height: 510px;
    width: 800px;
    border-radius: 15px;
    display: inline-block;

}
#in1{
    width: 100%;
    height: 1px;
    border: 0px;
    border-top: 1px rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    display: flex;
    margin: 0%;
}

#p1{
    display: flex;
    margin-left: 15px; 
    float: left;  
}
#p2{
    display: flex;
    margin-left: 60px;
    height: 0%;
    width: 0%;  
    float: left;   
}
#p3{
    display: flex;
    margin-left: 210px;
    height: 0%;
    width: 0%; 
    float: left;    
}
#p4{
    display: flex;
    margin-left: 520px; 
}

#status{
   text-align: left;
   margin-left: 30px;
}
.subt{
    margin-left: 300px;
    margin-top: 30px;
    height: 10%;
    width: 60%;
}
.titulos{
    display: flex;
    
}
.divLinha{
    margin: 7px;
    background-color: whitesmoke;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}
#s3{
    display: flex;
    
}
#recom{
    line-height: 1.5em;
    border-radius: 50px;
    text-align: center;
    margin-left: 200px;
    height: 10%;
    width: 100%;
}

#mate{
    display: flex;
    justify-content: space-around;
    margin: 5px;
    border: 70px;
    height: 100%;
    width: 90%;
    align-content: stretch;
}

#mate img{
    display: flex;
    margin: 15px;
    border: 30px;
    height: 50%;
    width: 70%;
    align-content: stretch;
    border: 8px solid white;
    border-color: white;
}
.escmate{
    display: flex;
    background-color: white;
    border-radius: 10%;
    border: 8px solid white;
    border-color: white;
    font-size: x-small;
    color: black;
}

.mate{
    display: flex;
}

.proce{
    background-color: rgb(55, 202, 55);
    color: white;
   border-radius: 10%;
   width: 140px;
   height: 40px;
   border: 0;
}
#nega{
    background-color: rgb(219, 40, 40);
    color: white;
    border-radius: 10%;
    width: 140px;
    height: 40px;
    border: 0;
}
#analise{
    background-color: rgb(255, 187, 0);
    color: white;
    border-radius: 10%;
    width: 140px;
    height: 40px;
    border: 0;
}
#s4{
    background-color: rgb(192, 218, 253);
    margin: 10px;
    height: 510px;
    width: 800px;
    border-radius: 15px;
    display: inline-block;
}
#msg1{
    text-align: start;
}
#msg2{
    text-align: end;
}

.nome{
    text-align: left;
    color: black;
}

.homem{
    height: 60px;
    width: 60px;
    border-radius: 100%;
}

#s5{
    display: flex;

}
#s6{
    background-color: rgb(192, 218, 253);
    margin: 10px;
    height: 510px;
    width: 800px;
    border-radius: 15px;
    display: inline-block;
}

.matei img{
    display: flex;
    margin: 70px;
    border: 30px;
    height: 55px;
    width: 55px;
    align-content: stretch;
    border: 8px solid white;
    border-color: white;
}
#imama{
    display: flex;
    margin: 70px;
    border: 30px;
    height: 65%;
    width: 65%;
    align-content: stretch;
    border: 8px solid white;
    border-color: white;
}
.junto{
    border-radius: 5%;
    text-align: center;
    background-color: white;
    height: 310px;
    width: 180px;
    padding: 0px;
    margin: 20px;
    margin-top: 20px;
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 12px;
    color: black;
}
.junto2{
    border-radius: 5%;
    text-align: center;
    background-color: white;
    height: 200px;
    width: 150px;
    padding: 0px;
    margin: 20px;
    margin-top: 20px;
    margin-right: 5px;
    font-family: sans-serif;
    font-size: 12px;
    color: black;
}
/*PARTE 2*/
#ind2{
    background-color: rgb(207, 207, 207);
}
#in2{
    width: 100%;
    height: 25px;
    border: 0px;
    border-top: 1px gold;
    background-color: gold;
    display: flex;
    margin: 0%;
}
.botoes{
    background-color: rgb(207, 207, 207);
    display: flex;
    border-color: rgb(207, 207, 207);
    border-style: double;
}
button{
    margin-left: 2px;
    margin-right: 2px;
    height: 40px;
    width: 100px;
    border-radius: 0px;
    border: 10px;
}
#navi{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    background-color: white;
}
#titulo{
    margin-left: 20px;
}
.lado{
    margin-left: 25px;
    margin-top: 26px;
}
.ladopasta{
    text-align: right;
    margin-top: 23px;
    margin-left: 90px;
}
.ladopasta2{
    text-align: right;
    margin-top: 23px;
    margin-left: 62%;
}
#over{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display:flex;
    margin-top: 52px;
}
#overview{
    background-color:  rgb(233, 233, 233);
    width: 100%;
}
.flex{
    display: flex;
}
#navigation{
    background-color: rgb(207, 207, 207);
    width: 390px;
}
#divisao-azul{
    width: 100%;
    height: 3px;
    border: 0px;
    border-top: 1px rgb(0, 153, 255);
    background-color: rgb(0, 153, 255);
    margin: 0%;
}
#setinha{
    border-radius: 100%;
    border: 2px solid gray;
    border-color: rgb(170, 170, 170);
    width: min-content;
    height: min-content;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;

}
.vertical{
    margin-left: 3px;
    margin-right: 3px;
    margin-top: 0%;
    margin-bottom: 0%;
}
.vertical2{
    margin-left: 0%;
    margin-right: 0%;
    margin-top: 0%;
    margin-bottom: 0%;
    background-color: rgb(201, 201, 201);
    border-color: rgb(214, 214, 214);
}
